body{
    background: #000000;
}
/*第一个开始*/
.box{
background: white;
    height: 20vw;
    width: 20vw;
    border-radius: 10px;
}
.one{
    height: 40%;
    width: 40%;
    border-radius: 10px;
   background: red;
}

.tow{
    height:4vw;
    width: 4vw;
    border-radius: 10px;
    background: red;
display: block;
}
.pp{
    padding: .2rem ;
}

