.swiper-container {
    width: 100vw;
    height:100vh;
}
.swiper-slide{
    background-image: url("../img/beijing.jpg");
}
/*头部开始*/
.ba{
   width: 100vw;
    height: 4.5rem;
}
.m{
    color: white;
    font-size: 0.42rem;
    padding-top: 0.065rem;
    text-shadow: 0 4px 2px rgba(0,0,0,0.29);
    -webkit-box-shadow: 0 4px 2px rgba(0,0,0,0.29);

}
.fj{
    margin-top: 0.3rem;
}
.fj>p{
    font-size: 0.27rem;
    color: white;
}
.fj>i{
    color: white;
    font-size:0.16rem ;
}
.bj{
   background: rgba(0,0,0,0.05);
    margin: 0 0.7rem;
}
/*头部开始*/

/*第1层开始*/
.ku{
    border-radius: 10px;
    width: 6.1rem;
    height:0.64rem ;
    background-color:#8fcc4e;
    margin-bottom: 0.17rem;
}
.ku>p{
    color: white;
    font-size: .3rem;
}
/*第1层结束*/

/*第2层开始*/
.ew>img{
    height: 3rem;
    width: 3rem;
}
/*第2层结束*/

/*第3层开始*/
.ss>p{
    font-size: 0.24rem;
    color: white;
    padding: 0.2rem 0 ;
}
/*第3层结束*/

/*第4层开始*/
.wb{
    position: absolute;
    left: 50%;
    bottom:0.47rem;
    transform: translate(-50%,-50%);

    animation-name:tiaodong;
    animation-duration:1.5s ;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.wb>i{
    color: white;
    font-size: 0.36rem;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.wb>p{
    color: white;
    font-size: 0.28rem;
}
/*第4层结束*/

/*第二页开始*/
.ffj{
   margin-top: 1.46rem;
}
.ffj>p{
    font-size: 0.27rem;
    color: white;
    display: inline-block;
}
.ffj>i{
    color: white;
    font-size:0.16rem ;
    display: inline-block;
}

.bj{
    background: rgba(0,0,0,0.05);
    margin: 0 0.7rem;
}
.kuk{
    border-radius: 10px;
    width: 6.1rem;
    height:0.64rem ;
    background-color:#42adff;
    margin-bottom: 0.17rem;
}
.kuk>p{
    color: white;
    font-size: .3rem;
}
.ew>img{
    height: 3.03rem;
    width: 3.03rem;
}
.ss>p{
    font-size: 0.24rem;
    color: white;
    padding: 0.2rem 0 ;
}
/*尾部层开始*/
.wbb{
position: absolute;
    left: 50%;
    bottom:0.47rem;
    transform: translate(-50%,-50%);

    animation-name:tiaodong;
    animation-duration:1.5s ;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.wbb>i{
    color: white;
    font-size: 0.36rem;
}
.wbb>p{
    color: white;
    font-size: 0.28rem;
}
/*尾部层结束*/

@keyframes tiaodong {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity:1;
    }
}

@-webkit-keyframes tiaodong {
    from{
        opacity: 1;
    }
  to{
        opacity: 0;
    }
}

